.catalog__inner {
  @media (min-width: $desktop-width) {
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }
}

.catalog__wrapper {
  background-color: $basic_grey;
  padding: 0 33px 18px 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 279px 53px 52px;
    margin-bottom: 30px;

    &:last-child {
      padding-right: 314px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    padding: 0 51px 55px;

    &:last-child {
      padding-right: 61px;
    }
  }
}

.catalog__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $basic_black;
  padding: 30px 0 29px 71px;
  margin: 0;
  position: relative;

  &-slim::before {
    content: "";
    position: absolute;
    background-image: url("../img/cat_slimming.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 67px;
    height: 50px;
    top: 24px;
    left: -10px;
  }

  &-gain::before {
    content: "";
    position: absolute;
    background-image: url("../img/cat_gain.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 67px;
    height: 50px;
    top: 24px;
    left: -10px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 77px 0 24px;
    // position: relative;

    &-slim::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      width: 200px;
      height: 211px;
      top: 81px;
      left: auto;
      right: -217px;
    }

    &-gain::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      width: 268px;
      height: 200px;
      top: 91px;
      left: auto;
      right: -286px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 77px 0 73px 162px;
    // position: relative;

    &-slim::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      width: 100px;
      height: 106px;
      top: 41px;
      left: 0;
    }

    &-gain::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      width: 134px;
      height: 100px;
      top: 41px;
      left: 0;
      right: -286px;
    }
  }
}

.catalog__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0;
  position: relative;
  padding-bottom: 38px;

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #d9d9d9;
    bottom: 15px;
    left: 0;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $basic_black;
    padding-bottom: 52px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 23px;
  }
}

.catalog__button {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
