.contacts {
  @media (min-width: $desktop-width) {
    max-width: 570px;
    background-color: $basic_white;
    position: relative;
    top: 144px;
    left: 150px;
  }
}

.contacts__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 27px 0 27px;
  position: relative;

  @media (min-width: $tablet-width) {
    // padding: 66px 71px 52px;
    padding: 69px 41px 61px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: -153px;
    right: 40px;
    width: 570px;
    background-color: $basic_white;
    padding: 66px 85px 61px 76px;
    // padding: 65px 85px 61px 76px;
  }
}

.contacts__grey {
  background-color: $basic_grey;
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
    width: 171px;
  }
}

// .contacts__title br {
//   display: none;
// }

.contacts__text {
  line-height: 20px;
  max-width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    max-width: 159px;
    text-align: right;

    & span {
      display: inline-block;
      margin-top: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;

    & span {
      display: inline-block;
      margin-top: 19px;
    }
  }
}
