.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0 19px;
}

.main-nav__toggle {
  display: block;
  cursor: pointer;
  width: 24px;
  height: 16px;
  border: none;
  border-top: 1.5px solid $basic_black;
  border-bottom: 1.5px solid $basic_black;
  background-color: transparent;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 1.5px;
    background-color: $basic_black;
    left: 0;
    top: 5px;
  }
}

.main-nav {
  display: none;

  &__list {
    margin: 0;
    height: 0;
    list-style: none;
  }

  &__link {
    font-size: 18px;
    line-height: 24px;
    color: $basic_black;
    // @media (min-width: $desktop-width) {
    //   color: $basic_white;
    // }
  }
}
