.page {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  background-color: $basic_white;
}

.page__body {
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.page__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0 19px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page__header-toggle {
  // display: block;
  // cursor: pointer;
  // width: 24px;
  // height: 16px;
  // border: none;
  // border-top: 1.5px solid $basic_black;
  // border-bottom: 1.5px solid $basic_black;
  // background-color: transparent;
  // // position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: 24px;
  //   height: 1.5px;
  //   background-color: $basic_black;
  //   left: 0;
  //   top: 5px;
  // }
  // position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 24px;
  height: 16px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  // z-index: 100;
}

.page__header--closed .page__header-toggle::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  width: 24px;
  height: 1.5px;
  background-color: $basic_black;
  box-shadow: 0 8px 0 0 $basic_black, 0 16px 0 0 $basic_black;
  // z-index: 100;
}

// .page-header {
//   display: flex;

//   &__logoicon {
//     height: 66px;
//   }
// }
.page__header--opened {
  top: 0;
  right: 0;
  // left: 0;
  // position: relative;
  // z-index: 99;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 28px;
    right: 20px;
    width: 24px;
    height: 1.5px;
    background-color: $basic_black;
    cursor: pointer;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .page__header--closed .main-nav {
    display: none;
  }
}
