.page {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  background-color: $basic_white;
}

.page__body {
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.page__header-logoicon {
  padding-top: 3px;
}

.page__header-logotext {
  padding-top: 11px;
  padding-right: 10px;
}

.page__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0 16px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page__header-toggle {
  top: 0;
  right: 0;
  display: block;
  width: 24px;
  height: 16px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.page__header--closed .page__header-toggle::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 0;
  width: 24px;
  height: 1.5px;
  background-color: $basic_black;
  box-shadow: 0 8px 0 0 $basic_black, 0 16px 0 0 $basic_black;
}

.page__header--opened .page__header-toggle {
  top: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 28px;
    right: 0;
    width: 24px;
    height: 1.5px;
    background-color: $basic_black;
    cursor: pointer;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .page__header--closed .main-nav {
    display: none;
  }
}
