.page-footer {
  background-color: $basic_grey;

  &__wrapper {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 52px 0 61px;
    }

    @media (min-width: $desktop-width) {
      padding: 56px 0 61px;
    }
  }
}

.page-footer__social-img {
  display: flex;
  margin: 0 auto;
  padding: 36px 0 52px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #d9d9d9;
    bottom: -20px;
    left: 0;
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #d9d9d9;
    top: -20px;
    left: 0;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    margin-left: 35px;

    &::after {
      border: none;
    }

    &::before {
      border: none;
    }
  }
}

.page-footer__social-item {
  margin-right: 35px;

  &:last-child {
    margin-right: 8px;
  }

  @media (min-width: $tablet-width) {
    // & img {
    //   // width: 23px;
    // }
  }
}

.page-footer__social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 41px 0 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-footer__social-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-right: 22px;
  }
}

.page-footer__social-vk {
  &:hover {
    stroke: $basic_green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 18px;
  }
}

.page-footer__social-insta {
  &:hover {
    stroke: $basic_green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
    // margin-left: 20px;
  }
}

.page-footer__social-fb {
  fill: none;
  stroke: $special_grey-2;

  &:hover {
    stroke: $basic_green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 13px;
    height: 27px;
    // margin-left: 50px;
  }
}

.page-footer__social-ha {
  // fill: $special_grey-2;

  &:hover {
    stroke: $basic_green;
    // fill: $basic_green;
  }

  &:active {
    stroke: $basic_green;
    opacity: 0.3;
  }
}
