.production {
  padding-top: 27px;
  padding-bottom: 25px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  &__title {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 49px;
  }
}

.production__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 33px;
  padding-bottom: 13px;
}

.production_img {
  grid-row-start: 1;
  grid-row-end: 4;
  margin: auto;
}

.production__name {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-right: 66px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.production__list {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 12px;
  line-height: 16px;

  &-rigth {
    text-align: right;
  }
}

// .production__button {
//   padding: 10px 109px;
// }

.production__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.production__img {
  padding-bottom: 23px;
}

.production__more {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_black;
  padding-bottom: 8px;
}

.production__text {
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 21px;
}

.production__button-more[type="button"] {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey;
  background-color: $basic_grey;
}
