.production {
  padding-top: 20px;
  padding-bottom: 25px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    border-top: none;
    border-bottom: none;
  }

  &__title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 6px;
    padding-bottom: 59px;
    // padding: 27px 0 49px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      padding-bottom: 76px;
      padding-top: 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 47px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

    @media (min-width: $tablet-width) {
      border: 2px solid $basic_grey;
      padding: 62px 37px 38px;
      max-height: 430px;
      position: relative;
      top: 69px;
    }

    @media (min-width: $desktop-width) {
      padding: 49px 37px 38px;
      max-height: 418px;
      top: 80px;
    }
  }
}

.production__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 99px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 102px;
  }
}

.production__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // padding-top: 22px;
  padding-bottom: 46px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    left: -20px;
    border-bottom: 1px solid #ebebeb;
    bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 37px;
    grid-template-columns: 1fr;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 430px;
      background-color: #f2f2f2;
      /* border: 1px solid red; */
      z-index: -5;
      top: 67px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 83px;
    }
  }
}

.production__link {
  grid-row: 1/3;
  margin: 15px auto;

  @media (min-width: $tablet-width) {
    grid-row: 0;
    grid-column: 1/3;
  }
}

.production__img {
  grid-row-start: 1;
  grid-row-end: 4;
  margin: auto;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    width: 168px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
  }
}

.production__pic {
  grid-row-start: 1;
  grid-row-end: 4;
  margin: auto;
  grid-column: 1/4;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }
}

.production__name {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-right: 66px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    line-height: 24px;
    font-size: 20px;
    grid-column: 1/3;
    padding: 10px 0 21px;
    text-align: center;
    max-width: 145px;
    // color: $special_dark-grey-2;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 23px;
  }
}

.production__list {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 12px;
  line-height: 16px;
  // position: relative;
  grid-column: 2/3;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    grid-column: 1/3;
    grid-row-gap: 16px;
    margin: 0;
    margin-bottom: 42px;
    position: relative;

    &-left::after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      height: 26px;
      border-bottom: 1px solid $special_grey;
    }
  }

  &-rigth {
    text-align: right;
  }
}

.production__button {
  grid-column-start: 1;
  grid-column-end: 3;

  &:focus {
    border: 1px solid $special_dark-grey;
    outline: 0;
  }
}

.production__img-plus {
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 60px;
    padding-bottom: 49px;
  }
}

.production__more {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_black;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #111111;
    max-width: 134px;
    padding-bottom: 23px;
  }
}

.production__text {
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    max-width: 167px;
    padding-bottom: 87px;
  }
}

.production__button-more[type="button"] {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey;
  background-color: $basic_grey;
  cursor: pointer;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  &:focus {
    border: 1px solid $special_dark-grey;
    outline: 0;
  }
}
